.label_error{
    color: #ff5722;
    font-weight: 500;
    /* margin-top: 5px; */
    /* padding: 5px; */
   
}


.form_element{
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .form_element:focus {
    border-color: #111;
  
}

.label{
 cursor: default; 
 color:  #352c7f;
 font:  bold;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-transform: uppercase;
}