.label_error{
    color: #f05050;
    /* font-weight: 200; */
    
    /* margin-top: 5px; */
    /* padding: 5px; */
   display:block;
}






.form_element{
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .form_element:focus {
    border-color: #111;
  
}

