.label_error{
    color: #f05050;
    padding: 1px;
   display:block;
   font-size: 1.25rem;


}






.form_element{
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .form_element:focus {
    border-color: #111;
  
}

@media (min-width: 320px) and (max-width: 480px) {
    .label_error{
    font-size: 75%;
    
    }
}