body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.cirrange{
	
display:inline-block;
margin:auto;
width:50px;
height:50px;
border-radius:100%;
background-color:#FFD4FF;
position:relative;
left:-25px;
text-align:center;

}
.cirText{
	margin-top:15px;
}
.info{
	width:100%;
	margin-top:50px;

	
}
.infoPrice
{   display:inline-block;
	width:50%;
	font-size:25px;
    font-weight:bold;
	color:#2A7FFF;
	margin:auto;
	position:absolute;
	text-align:right;
	

}
.price{
	line-height:40px;
	color:#A5A5A5;
	font-size:20px;
	font-weight:bold;
	
	
}

.des{
	font-size:10px;
	font-weight:1px;
	text-transform:italic;
	color:#A5A5A5;
}
.infoRange
{   font-size:25px;
    font-weight:bold;
	color:#2A7FFF;
	display:inline-block;
	width:50%;
	margin:auto;
	text-align:center;
	
	
}

.range
{
	line-height:65px;
	color:#A5A5A5;
	font-size:20px;
}

.swrapper
{
	width:100%;
	margin:auto;
	margin-top:10px
}
