

.cirrange{
	
display:inline-block;
margin:auto;
width:50px;
height:50px;
border-radius:100%;
background-color:#FFD4FF;
position:relative;
left:-25px;
text-align:center;

}
.cirText{
	margin-top:15px;
}
.info{
	width:100%;
	margin-top:50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3%;
}
.infoPrice{
	font-size: x-large;
    font-weight:bold;
	color:#2A7FFF;
}
.price{
	line-height:40px;
	color:#A5A5A5;
	font-size:20px;
	font-weight:bold;
	
	
}

.des{
	font-size:10px;
	font-weight:1px;
	text-transform:italic;
	color:#A5A5A5;
}
.infoRange
{   font-size:x-large;
    font-weight:bold;
	color:#2A7FFF;
	text-align:center;
	
	
}

.range
{
	line-height:65px;
	color:#A5A5A5;
	font-size:20px;
}

.swrapper
{
	width:100%;
	margin-top:10px;
	
}

@media screen and (max-width: 480px) {

.cirrange{
width:30px;
height:30px;
border-radius:100%;
background-color:#FFD4FF;
position:relative;
left:-15px;
text-align:center;
overflow: hidden;

}

.cirText{
	margin-top:6px;
}

.info{
	width: 100%;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0%;
}
.infoPrice
{  
	width:100%;
	margin-top: 40px;
	font-size:20px;
    font-weight:bold;
    text-align: center;
}

.price{
	line-height:40px;
	color:#A5A5A5;
	font-size:20px;
	font-weight:bold;
}

.des{
	font-size:10px;
	font-weight:1px;
	text-transform:italic;
	color:#A5A5A5;
}
.infoRange
{   font-size:18px;
	width:100%;
	text-align: center;
	margin-left: 20px
}

.range
{
	line-height:15px;
	color:#A5A5A5;
	font-size:15px;
}
.swrapper
{
	width: 100%;
	margin-top:10px;
}

}