 .header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 10%;
    z-index: 500;
    display: flex;
    justify-content: space-around;
}


 .logo img {
    height: 65%;
    margin-top: 3%;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .header {
        height: 8%;
        justify-content: space-between;
    }

    .logo img {
        height: 75%;
        margin-top: 3%;
        padding-left: 10%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        height: 8%;
        justify-content: space-between;
    }

    .logo img {
        padding-left: 5%;
    }
}