nav {
	background: transparent;
	overflow: hidden;
	vertical-align: middle;
	
}
	a {
		color: #FFF;
		text-decoration: none;
	}

	a:visited {
		color: #FFF;
		text-decoration: none;
	}

		.wideDiv {
			text-align: center;
			display: flex;
			
		}
		.wideDiv menu {
				color: #FFF;
				font-weight: bold;
			
				cursor: pointer;
				font-size: 15px;

			

				
			}
			
		.wideDiv Link {
			
		}

		.navNarrow {
			display: none
		}

		
		.narrowLinks a {
				text-decoration: none;
				display: block;
				float: left;
				clear: left;
				padding: 0.5em 0;
			}

			.userCircle{
				font-size: 25px;
				margin: -5px 5px 0px 10px;
				display: inline-block;


			}
			.userName{
				
				display: inline-block;
				height: 100%;
				font-size: 14px;
				margin-left: 10px;
				text-transform: capitalize;
			}

			.user{
				display: inline-block;

				
			}
			.Popup{
				position: absolute;
				color: #5a5a5a;
				font-weight: 600;
               padding:10px 0px 10px 0px;
				width: 150px;
				
				background-color: white;
				overflow-x: hidden;
				right: 5px;
				display:none;
				top:50px;
				box-shadow: 1px 3px 10px 2px rgba(0,0,0,0.4)
			}
			.popupElement{
				width: 100%;
				display: block;
				padding: 10px 10px 10px 0px;
				width: 100%;
			}
		
	


/* // Adjust breakpoint as desired to select when the "hamburger" menu is
// replaced by just the links. */
@media (min-width: 1021px){
	


	.nav	.navWide {
			display: block;
		}

		.navNarrow {
			display: none
		}

		.narrowLinks {
			display: none;
		}
	}

	/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

	@media (min-width: 481px) and (max-width: 767px) {
		.navNarrow {
			display: block
		}

		.narrowLinks {
			display: none;
		}

		.navNarrow {
			display: flex;
			flex-direction: column;
			position: fixed;
			right: 0%;
			top: 2%;
			width: 100%;
			height: auto;
			align-items: flex-end;
		}

		.wideDiv {
			display: none
			
		}
		.navNarrow	i {
			padding-right: 5%;
			cursor: pointer;
		}

		.narrowLinks {
			display: none;
			background-color: gray;
			height: 100%;
			align-items: center;
			width: 100%;
			margin-top: 2.5%;

		}
		
		.narrowLinks a {
				display: block;
				padding-top: 5%;	
				border-bottom: solid 0.02px beige;
				width: 100%;
				text-align: center;
			}

		}
		
		 /* 
			##Device = Tablets, Ipads (portrait)
			##Screen = B/w 768px to 1024px
		  */
		
		@media (min-width: 768px) and (max-width: 1024px) {
			.navNarrow {
				display: block
			}
	
			.narrowLinks {
				display: none;
			}

			.navNarrow {
				display: flex;
				flex-direction: column;
				position: fixed;
				right: 0%;
				top: 2%;
				width: 100%;
				height: auto;
				align-items: flex-end;
			}

			.wideDiv {
				display: none
				
			}
			.navNarrow	i {
				padding-right: 5%;
				cursor: pointer;
				padding-bottom: 10%;
			}
	
			.narrowLinks {
				display: none;
				background-color: gray;
				height: 100%;
				align-items: center;
				width: 100%;
				margin-top: 2.5%;
	
			}
			
			.narrowLinks a {
					display: block;
					padding-top: 5%;	
					border-bottom: solid 0.02px beige;
					width: 100%;
					text-align: center;
				}
		}
		
		 /* 
			##Device = Most of the Smartphones Mobiles (Portrait)
			##Screen = B/w 320px to 479px
		  */
		
		@media (min-width: 320px) and (max-width: 480px) {

			.wideDiv {
				display: none
				
			}
		
		.navNarrow {
			display: flex;
			flex-direction: column;
			position: fixed;
			right: 0%;
			top: 2%;
			width: 100%;
			height: auto;
			align-items: flex-end;
		}

		.navNarrow	i {
			padding-right: 5%;
			cursor: pointer;
		}

		.narrowLinks {
			display: none;
			background-color: gray;
			height: 100%;
			align-items: center;
			width: 100%;
			margin-top: 2.5%;

		}
		
		.narrowLinks a {
				display: block;
				padding-top: 5%;	
				border-bottom: solid 0.02px beige;
				width: 100%;
				text-align: center;
			}

			
			
		}
	
	
