.register_main {

    background: linear-gradient(13deg, white 49.9%, #4b8ce8 50.1%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3.5%;
}



.register_optics {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    font-size: x-large;
    color: black;
    font-family: 'Candara';
    font-weight: bold
}

.register_optics img {
    margin-left: 5%;
    margin-right: 5%;
    width: 9%;
    vertical-align: middle;
    margin-bottom: 1%;
}

.register_optics span {
    font-size: x-large;
    font-weight: bold;

}

.register_Container{
    width: 30%;
    height: auto;
    padding: 2.5%;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
    inset 0 5px 5px darkblue,
    inset 0 -5px 5px darkblue(0,0,0,0.3)
    0 5px 5px rgba(75, 140, 232, 1);
    background-color: #4b8ce8;
    margin: 5%;
    margin-bottom: 0%;
    border-radius: 5%;
}


.register_Container input{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 80%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid lightblue;
    outline: none;
    color: black;
    font-size: small;
}

.register_Container input:focus{
    outline: none;
    border-color: #51CBEE;
}

.p1{
    color: white;
    font-size: medium;
    text-align: center;
}
.p2{
    color: white;
    text-align: center;
}

.login{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.register_button {
    background: #FE5593;
    color: #ffffff;
    padding: .375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: center;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: .0625rem solid;
    border-radius: 2rem;
    box-shadow: 1px 1px 3px grey;
    margin :auto;
}



.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  
    z-index: 500;
}

.register_popup {
    box-shadow: 0 4px 10px 0 black;
    position: absolute;
    left: 35%;
    right: 35%;
    top: 5%;

    margin: auto;

    background-color: white;

}

.register_popup input {
    font-size: 10px bold;
    width:90%;
    padding-top: 10px;
    padding-bottom: 15px;
    background: transparent;
    border: 0;
    border-bottom: 0.10px solid rgb(10, 150, 197);
    outline: none;
    color: black;
    display:inline-block;
}

.popup_close_button {
    position: absolute;
    right: 33.5%;
    top: 13.5%;
    display: block;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.success_text {
    position: absolute;
    top: 25%;
    bottom: 30%;
    color: black;
    font-size: large;
    padding: 3%;
}

.register_popup p {
    color: black;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray
}



.h2{
    color: white;
}
.reset{


    margin-top:18%;
}

.reset input {
    font-size: 10px bold;
    width:30%;
    padding-top: 10px;
    padding-bottom: 15px;
    background: transparent;
    border: 0;
    border-bottom: 0.10px solid rgb(10, 150, 197);
    outline: none;
    color: black;
    display:inline-block;
}



/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  }

  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {


  }

 /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
    .register_popup {
        box-shadow: 0 4px 10px 0 black;
        position: absolute;
        left: 20%;
        right: 20%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        background-color: white;
        overflow-y: scroll;
        z-index: 500;
    }

    .popup_close_button {
        position: absolute;
        right: 18%;
        top: 21.5%;
        display: block;
        height: 20px;
        width: 20px;
    }
  }
    /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

   @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .register_popup {
        box-shadow: 0 4px 10px 0 black;
        position: absolute;
        left: 20%;
        right: 20%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        background-color: white;
        overflow-y: scroll;
        z-index: 500;
    }


    .popup_close_button {
        position: absolute;
        right: 18%;
        top: 21.5%;
        display: block;
        height: 20px;
        width: 20px;
    }

    }

  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {
    .reset input{
        width: 60%
    }

      .register_Container input {
          width: 90%;
          /* padding: 12px 10px; */
         align-self: center;
        }

        .register_main {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding-top: 10%;
        }


        .register_Container{
            width: 70%;
        }

        .register_optics {
            width: 100%;
        }

  }

  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {
    .reset input{
        width: 90%
    }

    .register_main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 20%;
    }


      .register_Container input{
          width: 80%;
          padding: 12px 10px;

  }


  .register_Container{
    width: 80%;
    height: auto;
    padding: 1%;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
    inset 0 5px 5px darkblue,
    inset 0 -5px 5px darkblue(0,0,0,0.3)
    0 5px 5px rgba(75, 140, 232, 1);
    background-color: #4b8ce8;
    margin: 5%;
    margin-bottom: 0%;
    border-radius: 5%;
}


.register_popup {
    box-shadow: 0 4px 10px 0 black;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 15%;
    margin: auto;

    overflow-y: scroll;
    z-index: 500;
}


.popup_close_button {
    position: absolute;
    right: 10%;
    top: 12%;
    display: block;
    height: 15px;
    width: 15px;
}

.register_optics {
    width: 100%;
    font-size: medium;
    font-weight: bold;
}
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}




/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
