
.h2{
    color: black;
    text-align: center;
    padding: 30px;
}

.logContainer{
    width:40%;
    margin:1px auto;
    
    padding: 30px;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
  box-shadow:
    inset 0 2px 3px rgba(75, 140, 232, 1),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 2px 2px rgba(75, 140, 232, 1);


}
.logContainer input{
    font-size: 20px bold;
    width:70%;
    /* margin-top: 10px; */
    padding: 20px;
    /* box-sizing: border-box; */
    font-weight: 200;


    width: 400px;
    /* padding: 20px 0px; */
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    color: black;
   font-size: medium;
   font-style: normal;
   display: inline-block;
   display:relative;
  align-self: center;

}
.login_button{
    background: #fc5791;
    border: 1px 'white';
    color: #ffffff;
    /* display: inline-block; */
    padding: .375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    /* white-space: nowrap; */
    vertical-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: .0625rem solid;
    border-radius: 2rem;

    /* margin: 0 auto; */




}
.p1{
    padding: 30px;
    color: black
}
.p2{
    color: black;
    text-align: center;
    padding: 20px;
}
.login{
    color: black;
    font-weight: bold;
    text-decoration: none;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .logContainer {
        width: 100;
        height: 100vh;
        padding: 30px;
        float: right;
      }

  }

  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {


    .logContainer {
        width: 100;
        height: 100%;
        padding:30px;
        float: right;
      }

  }

 /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
    .logContainer {
        width: 60%;
        height: 100%;
        padding:30px;
        float: right;
      }
    }

    /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .logContainer{
        width: 60%;
        height: 100%;
        padding: 30px;
        float: right;

      }
      /* .logContainer input, .button{
          width: 100%;
          padding: 12px 10px;



      } */


  }

  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {
    .logContainer{
        width: 80%;
        height: 100%;
        padding: 30px;
        float: center;

      }
      .logContainer input, .login_button{
          width: 100%;
          padding: 12px 10px;



      }

  }

  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {

    .logContainer{
        width: 80%;
        height: 100%;
        padding: 30px;
        float: center;
      }
      .logContainer input, .login_button{
          width: 100%;
          padding: 12px 10px;

  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .main{
          background-color:#4b8ce8;
          background-image: linear-gradient(25deg, #ffff 35%, #4b8ce8 35% );
          min-height: 730px;


      }


  }

  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */


  @media (min-width: 1025px) and (max-width: 1280px) {

  .main{
          background-color:#4b8ce8;
          background-image: linear-gradient(25deg, #ffff 35%, #4b8ce8 35% );
          min-height: 700px;

      }

  }

  /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {

  .main{
          background-color:#4b8ce8;
          background-image: linear-gradient(25deg, #ffff 35%, #4b8ce8 35% );
          min-height: 900px;

      }

  }

  /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .main{
          background-color:#4b8ce8;
          background-image: linear-gradient(35deg, #ffff 25%, #4b8ce8 25% );
          min-height: 860px;

      }


  }

  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px){

  .main{
          background-color:#4b8ce8;
          background-image: linear-gradient(25deg, #ffff 16%, #4b8ce8 16% );
          min-height: 500px;

      }
  }

  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {

  .main{
          background-color:#4b8ce8;
          background-image: linear-gradient(25deg, #ffff 10%, #4b8ce8 10% );
          min-height: 100px;

      }

  }
