
.App {
  text-align: center;

  min-height:100vh;


   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #fff;

}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.TextFele{
    width:50%;
    position: absolute;
    left: 25%;
    top:40vh;

}
.tf{
  width:100%;

  height: 40px;
  border:none;
  border-radius: 5px;
box-shadow: 20px 10px 50px 20px rgba(0,0,0,0.4);
  color: grey;
  padding: 5px;
font-size:20px;
}
.captionText{
  font-size: 30px;
   margin-bottom: 3vh;
  font-weight: bold;
  text-align: left;
  color:white;
}

@media screen and (max-width:480px) {

.TextFele{
    width:80%;
    position: absolute;
    left: 10%;
    top:35vh;

}
.tf{
  width:100%;

  height: 35px;
  border:none;
  border-radius: 3px;
box-shadow: 20px 10px 50px 20px rgba(0,0,0,0.4);
  color: grey;
  padding: 2px;
font-size:12px;
}
.captionText{
  font-size: 15px;
   margin-bottom: 2vh;

}

}
